{
  "openapi": "3.0.0",
  "info": {
    "title": "FlexIO API",
    "description": "Interaction with FlexBox and groups of FlexBoxes",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://api.io-comms.com/v1",
      "description": "Production server"
    },
    {
      "url": "https://api.io-comms.com/dev",
      "description": "Development server"
    },
    {
      "url": "https://api.io-comms.com/next",
      "description": "Bleeding edge server"
    }
  ],
  "tags": [
    {
      "name": "auth",
      "description": "Operations related to authentication and authorization"
    },
    {
      "name": "devices",
      "description": "Operations related to one or many FlexIO devices"
    },
    {
      "name": "cloud-flex",
      "description": "Operations related to flexibility on the cloud"
    },
    {
      "name": "fleet",
      "description": "Operations related with FlexIO fleets"
    },
    {
      "name": "users",
      "description": "Operations related with user accounts"
    },
    {
      "name": "files",
      "description": "Operations related to downloading files and/or releases"
    },
    {
      "name": "ev",
      "description": "Operations regarding interacting with EV vendors' APIs"
    },
    {
      "name": "docs",
      "description": "Documentation endpoints"
    },
    {
      "name": "calculator",
      "description": "The Lifepowr solar installation calculator"
    }
  ],
  "paths": {
    "/devices": {
      "get": {
        "tags": [
          "devices",
          "cloud-flex"
        ],
        "summary": "Devices list",
        "description": "Lists account's available devices.",
        "operationId": "DeviceList",
        "responses": {
          "200": {
            "description": "Device list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deviceList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/NotAuthorized"
          }
        },
        "security": [
          {
            "All": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": {
            "Fn::Sub": "${ApiRole.Arn}"
          },
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": {
            "Fn::Sub": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${DevicesFunction.Arn}/invocations"
          }
        },
        "x-amazon-apigateway-request-validator": "params"
      },
      "post": {
        "tags": [
          "cloud-flex"
        ],
        "summary": "Devices creation",
        "description": "Create new devices",
        "operationId": "DeviceCreate",
        "requestBody": {
          "description": "Edit bodies",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRequest"
              },
              "examples": {
                "Edit": {
                  "$ref": "#/components/examples/createRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "207": {
            "description": "Device list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/NotAuthorized"
          }
        },
        "security": [
          {
            "AdminPartner": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": {
            "Fn::Sub": "${ApiRole.Arn}"
          },
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": {
            "Fn::Sub": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${DevicesFunction.Arn}/invocations"
          }
        },
        "x-amazon-apigateway-request-validator": "params"
      },
      "options": {
        "tags": [
          "devices",
          "cloud-flex"
        ],
        "summary": "CORS support",
        "description": "Enable CORS by returning correct headers",
        "operationId": "DeviceListOptions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OptionsCORS"
          }
        },
        "x-amazon-apigateway-integration": {
          "requestTemplates": {
            "application/json": "{\n  \"statusCode\" : 200\n}\n"
          },
          "responses": {
            "default": {
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Methods": "'*'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              },
              "responseTemplates": {
                "application/json": "{}\n"
              },
              "statusCode": "200"
            }
          },
          "type": "mock"
        }
      }
    },
    "/devices/{id}": {
      "get": {
        "tags": [
          "devices",
          "cloud-flex"
        ],
        "summary": "Device info",
        "description": "Displays information from specific device.",
        "operationId": "DeviceInfo",
        "responses": {
          "200": {
            "description": "Device object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/device"
                }
              }
            }
          }
        },
        "security": [
          {
            "All": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": {
            "Fn::Sub": "${ApiRole.Arn}"
          },
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": {
            "Fn::Sub": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${DevicesFunction.Arn}/invocations"
          }
        },
        "x-amazon-apigateway-request-validator": "params"
      },
      "put": {
        "tags": [
          "cloud-flex"
        ],
        "summary": "Set site info",
        "description": "Edit an existing site settings.",
        "operationId": "DeviceInfoSet",
        "requestBody": {
          "description": "Device data push",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editRequestSingle"
              },
              "examples": {
                "Edit": {
                  "$ref": "#/components/examples/editRequestSingle"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Device list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/editResponseSingle"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/NotAuthorized"
          }
        },
        "security": [
          {
            "AdminPartner": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": {
            "Fn::Sub": "${ApiRole.Arn}"
          },
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": {
            "Fn::Sub": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${DevicesFunction.Arn}/invocations"
          }
        },
        "x-amazon-apigateway-request-validator": "params"
      },
      "delete": {
        "tags": [
          "cloud-flex"
        ],
        "summary": "Remove existing site",
        "description": "Remove existing sites.",
        "operationId": "DeviceDeleteSingle",
        "responses": {
          "200": {
            "description": "Device list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deleteResponseSingle"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminPartner": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": {
            "Fn::Sub": "${ApiRole.Arn}"
          },
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": {
            "Fn::Sub": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${DevicesFunction.Arn}/invocations"
          }
        },
        "x-amazon-apigateway-request-validator": "params"
      }
    },
    "/devices/{id}/data": {
      "get": {
        "tags": [
          "cloud-flex"
        ],
        "summary": "Site set point collection",
        "description": "Collects power set points for CloudFlex sites",
        "operationId": "DeviceDataGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of CloudFlex site",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device object",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/dataGetResponse"
                    }
                  ]
                },
                "examples": {
                  "Data": {
                    "$ref": "#/components/examples/dataGetResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "All": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": {
            "Fn::Sub": "${ApiRole.Arn}"
          },
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": {
            "Fn::Sub": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${DevicesFunction.Arn}/invocations"
          }
        },
        "x-amazon-apigateway-request-validator": "params"
      },
      "post": {
        "tags": [
          "cloud-flex"
        ],
        "summary": "Device interaction",
        "description": "Send data from CloudFlex sites",
        "operationId": "DeviceDataPost",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of CloudFlex device",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action bodies",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/dataPostRequest"
                  }
                ]
              },
              "examples": {
                "Data": {
                  "$ref": "#/components/examples/DataPostRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Device object",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/dataPostResponse"
                    }
                  ]
                },
                "examples": {
                  "Data": {
                    "$ref": "#/components/examples/dataPostResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "All": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": {
            "Fn::Sub": "${ApiRole.Arn}"
          },
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": {
            "Fn::Sub": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${DevicesFunction.Arn}/invocations"
          }
        },
        "x-amazon-apigateway-request-validator": "params"
      },
      "options": {
        "tags": [
          "cloud-flex"
        ],
        "summary": "CORS support",
        "description": "Enable CORS by returning correct headers",
        "operationId": "DeviceDataOptions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OptionsCORS"
          }
        },
        "x-amazon-apigateway-integration": {
          "requestTemplates": {
            "application/json": "{\n  \"statusCode\" : 200\n}\n"
          },
          "responses": {
            "default": {
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Methods": "'*'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              },
              "responseTemplates": {
                "application/json": "{}\n"
              },
              "statusCode": "200"
            }
          },
          "type": "mock"
        }
      }
    },
    "/devices/{id}/name": {
      "post": {
        "tags": [
          "devices",
          "cloud-flex"
        ],
        "summary": "Site name change",
        "description": "Change the name of a FlexIO or CloudFlex site",
        "operationId": "DeviceNamePost",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of FlexIO device",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action bodies",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/nameRequest"
                  }
                ]
              },
              "examples": {
                "Name": {
                  "$ref": "#/components/examples/nameRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Device object",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/nameResponse"
                    }
                  ]
                },
                "examples": {
                  "NameExample": {
                    "$ref": "#/components/examples/nameResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "All": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": {
            "Fn::Sub": "${ApiRole.Arn}"
          },
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": {
            "Fn::Sub": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${DevicesFunction.Arn}/invocations"
          }
        },
        "x-amazon-apigateway-request-validator": "params"
      },
      "options": {
        "tags": [
          "devices",
          "cloud-flex"
        ],
        "summary": "CORS support",
        "description": "Enable CORS by returning correct headers",
        "operationId": "DeviceNameOptions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OptionsCORS"
          }
        },
        "x-amazon-apigateway-integration": {
          "requestTemplates": {
            "application/json": "{\n  \"statusCode\" : 200\n}\n"
          },
          "responses": {
            "default": {
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Methods": "'*'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              },
              "responseTemplates": {
                "application/json": "{}\n"
              },
              "statusCode": "200"
            }
          },
          "type": "mock"
        }
      }
    },
    "/devices/{id}/peripherals": {
      "get": {
        "tags": [
          "cloud-flex"
        ],
        "summary": "Site set point collection",
        "description": "Collects power set points for CloudFlex sites",
        "operationId": "DevicePeripheralGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of CloudFlex site",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device object",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/peripheralsGetResponse"
                    }
                  ]
                },
                "examples": {
                  "Peripherals": {
                    "$ref": "#/components/examples/peripheralsGetResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "All": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": {
            "Fn::Sub": "${ApiRole.Arn}"
          },
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": {
            "Fn::Sub": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${DevicesFunction.Arn}/invocations"
          }
        },
        "x-amazon-apigateway-request-validator": "params"
      },
      "post": {
        "tags": [
          "cloud-flex"
        ],
        "summary": "Device peripheral interaction",
        "description": "Set up peripheral assets for CloudFlex sites",
        "operationId": "DevicePeripheralsPost",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of CloudFlex device",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action bodies",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/peripheralsSetRequest"
                  }
                ]
              },
              "examples": {
                "Peripherals": {
                  "$ref": "#/components/examples/peripheralsSetRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Device object",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/peripheralsSetResponse"
                    }
                  ]
                },
                "examples": {
                  "Peripherals": {
                    "$ref": "#/components/examples/peripheralsSetResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "All": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": {
            "Fn::Sub": "${ApiRole.Arn}"
          },
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": {
            "Fn::Sub": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${DevicesFunction.Arn}/invocations"
          }
        },
        "x-amazon-apigateway-request-validator": "params"
      },
      "delete": {
        "tags": [
          "cloud-flex"
        ],
        "summary": "Site peripheral removal",
        "description": "Removes peripheral devices from CloudFlex sites",
        "operationId": "DevicePeripheralDelete",
        "responses": {
          "200": {
            "description": "Device object",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/peripheralDeleteResponse"
                    }
                  ]
                },
                "examples": {
                  "DeletePeripheralExample": {
                    "$ref": "#/components/examples/peripheralDeleteResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "All": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": {
            "Fn::Sub": "${ApiRole.Arn}"
          },
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": {
            "Fn::Sub": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${DevicesFunction.Arn}/invocations"
          }
        },
        "x-amazon-apigateway-request-validator": "params"
      },
      "options": {
        "tags": [
          "cloud-flex"
        ],
        "summary": "CORS support",
        "description": "Enable CORS by returning correct headers",
        "operationId": "DevicePeripheralsOptions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OptionsCORS"
          }
        },
        "x-amazon-apigateway-integration": {
          "requestTemplates": {
            "application/json": "{\n  \"statusCode\" : 200\n}\n"
          },
          "responses": {
            "default": {
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Methods": "'*'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              },
              "responseTemplates": {
                "application/json": "{}\n"
              },
              "statusCode": "200"
            }
          },
          "type": "mock"
        }
      }
    },
    "/devices/{id}/savings": {
      "get": {
        "tags": [
          "devices",
          "cloud-flex"
        ],
        "summary": "Device interaction",
        "description": "Collects specific information and/or interacts with FlexIO devices.",
        "operationId": "DeviceActionGetLogs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of CloudFlex or FlexIO site",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregate",
            "in": "query",
            "description": "The aggregation datapoints to be displayed - only used if `action=savings`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "d",
                "w",
                "mo"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device object",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/savingsResponse"
                    }
                  ]
                },
                "examples": {
                  "Savings": {
                    "$ref": "#/components/examples/savingsExample"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "All": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": {
            "Fn::Sub": "${ApiRole.Arn}"
          },
          "httpMethod": "POST",
          "type": "aws_proxy",
          "uri": {
            "Fn::Sub": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${DevicesFunction.Arn}/invocations"
          }
        },
        "x-amazon-apigateway-request-validator": "params"
      },
      "options": {
        "tags": [
          "devices",
          "cloud-flex"
        ],
        "summary": "CORS support",
        "description": "Enable CORS by returning correct headers",
        "operationId": "DeviceActionOptions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OptionsCORS"
          }
        },
        "x-amazon-apigateway-integration": {
          "requestTemplates": {
            "application/json": "{\n  \"statusCode\" : 200\n}\n"
          },
          "responses": {
            "default": {
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Methods": "'*'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              },
              "responseTemplates": {
                "application/json": "{}\n"
              },
              "statusCode": "200"
            }
          },
          "type": "mock"
        }
      }
    },
    "/fleet": {
      "get": {
        "tags": [
          "fleet",
          "cloud-flex"
        ],
        "operationId": "FleetInfo",
        "parameters": [
          {
            "name": "thingGroupName",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fleet action response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/fleet"
                    }
                  ]
                },
                "examples": {
                  "Info": {
                    "$ref": "#/components/examples/fleetResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminPartner": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": {
            "Fn::Sub": "${ApiRole.Arn}"
          },
          "httpMethod": "POST",
          "timeoutInMillis": 29000,
          "type": "aws_proxy",
          "uri": {
            "Fn::Sub": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${FleetFunction.Arn}/invocations"
          }
        }
      },
      "put": {
        "tags": [
          "fleet",
          "cloud-flex"
        ],
        "operationId": "FleetEdit",
        "requestBody": {
          "description": "Fleet edit request object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/fleetPutRequest"
              },
              "examples": {
                "Info": {
                  "$ref": "#/components/examples/fleetPutRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fleet edit response object",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/fleetPutResponse"
                    }
                  ]
                },
                "examples": {
                  "Info": {
                    "$ref": "#/components/examples/fleetPutResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminPartner": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": {
            "Fn::Sub": "${ApiRole.Arn}"
          },
          "httpMethod": "POST",
          "timeoutInMillis": 29000,
          "type": "aws_proxy",
          "uri": {
            "Fn::Sub": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${FleetFunction.Arn}/invocations"
          }
        }
      },
      "post": {
        "tags": [
          "fleet",
          "cloud-flex"
        ],
        "operationId": "FleetCreate",
        "requestBody": {
          "description": "Fleet creation request object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/fleetPostRequest"
              },
              "examples": {
                "Info": {
                  "$ref": "#/components/examples/fleetPostRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fleet creation response object",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/fleetPostResponse"
                    }
                  ]
                },
                "examples": {
                  "Info": {
                    "$ref": "#/components/examples/fleetPostResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminPartner": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": {
            "Fn::Sub": "${ApiRole.Arn}"
          },
          "httpMethod": "POST",
          "timeoutInMillis": 29000,
          "type": "aws_proxy",
          "uri": {
            "Fn::Sub": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${FleetFunction.Arn}/invocations"
          }
        }
      },
      "delete": {
        "tags": [
          "fleet",
          "cloud-flex"
        ],
        "operationId": "FleetDelete",
        "requestBody": {
          "description": "Fleet deletion request object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/fleetDeleteRequest"
              },
              "examples": {
                "Info": {
                  "$ref": "#/components/examples/fleetDeleteRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fleet delete response object",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/fleetDeleteResponse"
                    }
                  ]
                },
                "examples": {
                  "Info": {
                    "$ref": "#/components/examples/fleetDeleteResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminPartner": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": {
            "Fn::Sub": "${ApiRole.Arn}"
          },
          "httpMethod": "POST",
          "timeoutInMillis": 29000,
          "type": "aws_proxy",
          "uri": {
            "Fn::Sub": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${FleetFunction.Arn}/invocations"
          }
        }
      },
      "options": {
        "tags": [
          "fleet",
          "cloud-flex"
        ],
        "summary": "CORS support",
        "description": "Enable CORS by returning correct headers",
        "operationId": "FleetOptions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OptionsCORS"
          }
        },
        "x-amazon-apigateway-integration": {
          "requestTemplates": {
            "application/json": "{\n  \"statusCode\" : 200\n}\n"
          },
          "responses": {
            "default": {
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Methods": "'*'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              },
              "responseTemplates": {
                "application/json": "{}\n"
              },
              "statusCode": "200"
            }
          },
          "type": "mock"
        }
      }
    },
    "/fleet/all": {
      "get": {
        "tags": [
          "fleet",
          "cloud-flex"
        ],
        "operationId": "FleetAllGet",
        "responses": {
          "200": {
            "description": "Fleet timeseries response object",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/fleetAllResponse"
                    }
                  ]
                },
                "examples": {
                  "All": {
                    "$ref": "#/components/examples/fleetAllResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminPartner": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": {
            "Fn::Sub": "${ApiRole.Arn}"
          },
          "httpMethod": "POST",
          "timeoutInMillis": 29000,
          "type": "aws_proxy",
          "uri": {
            "Fn::Sub": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${FleetFunction.Arn}/invocations"
          }
        }
      },
      "options": {
        "tags": [
          "fleet",
          "cloud-flex"
        ],
        "summary": "CORS support",
        "description": "Enable CORS by returning correct headers",
        "operationId": "FleetAllOptions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OptionsCORS"
          }
        },
        "x-amazon-apigateway-integration": {
          "requestTemplates": {
            "application/json": "{\n  \"statusCode\" : 200\n}\n"
          },
          "responses": {
            "default": {
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Methods": "'*'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              },
              "responseTemplates": {
                "application/json": "{}\n"
              },
              "statusCode": "200"
            }
          },
          "type": "mock"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AnyTariffStructure": {
        "type": "object",
        "anyOf": [
          {
            "$ref": "#/components/schemas/SingleTariffVariable"
          },
          {
            "$ref": "#/components/schemas/SingleTariffFixed"
          },
          {
            "$ref": "#/components/schemas/DoubleTariffVariable"
          },
          {
            "$ref": "#/components/schemas/DoubleTariffFixed"
          },
          {
            "$ref": "#/components/schemas/EngieDynamicTariff"
          },
          {
            "$ref": "#/components/schemas/LuminusDynamicTariff"
          },
          {
            "$ref": "#/components/schemas/EnergiebeDynamicTariff"
          },
          {
            "$ref": "#/components/schemas/TrevionDynamicTariff"
          },
          {
            "$ref": "#/components/schemas/NieuweStroomDynamicTariff"
          },
          {
            "$ref": "#/components/schemas/BoltDynamicTariff"
          },
          {
            "$ref": "#/components/schemas/EcopowerDynamicTariff"
          },
          {
            "$ref": "#/components/schemas/MegaDynamicTariff"
          },
          {
            "$ref": "#/components/schemas/EBEMDynamicTariff"
          },
          {
            "$ref": "#/components/schemas/FrankDynamicTariff"
          },
          {
            "$ref": "#/components/schemas/EnecoDynamicTariff"
          },
          {
            "$ref": "#/components/schemas/GenericVariableTariff"
          },
          {
            "$ref": "#/components/schemas/GenericDynamicTariff"
          },
          {
            "$ref": "#/components/schemas/OctaPlusDynamicTariff"
          },
          {
            "$ref": "#/components/schemas/SunergyDynamicTariff"
          }
        ],
        "default": {}
      },
      "BoltDynamicTariff": {
        "title": "Bolt Dynamic Tariff",
        "required": [
          "tariffType"
        ],
        "type": "object",
        "properties": {
          "tariffType": {
            "title": "Tariff Type",
            "type": "string",
            "description": "Tariff Type",
            "default": "BoltDynamicTariff"
          }
        },
        "description": "Bolt Dynamic Tariff",
        "default": {}
      },
      "Converter": {
        "required": [
          "battery",
          "curtailmentType",
          "maxACDCPower",
          "maxBatteryChargePower",
          "maxBatteryDischargePower",
          "maxMPPTPower",
          "pvArrays"
        ],
        "type": "object",
        "properties": {
          "battery": {
            "type": "object",
            "anyOf": [
              {
                "$ref": "#/components/schemas/UnsupportedBattery"
              }
            ],
            "default": {}
          },
          "curtailmentType": {
            "title": "Converter curtailment capability type",
            "type": "string",
            "description": "The type of curtailment this converter is capable of",
            "default": "type-N",
            "enum": [
              "type-N",
              "type-G",
              "type-S",
              "type-H",
              "type-X"
            ]
          },
          "maxACDCPower": {
            "title": "Converter Maximum ACDC Power [W]",
            "maximum": 3000000,
            "minimum": 0,
            "type": "number",
            "description": "Maximum rated power of the ACDC converter",
            "default": 5000
          },
          "maxBatteryChargePower": {
            "title": "Converter Maximum Battery Charge Power [W]",
            "maximum": 3000000,
            "minimum": 0,
            "type": "number",
            "description": "Maximum power that the converter can charge the battery.",
            "default": 5000
          },
          "maxBatteryDischargePower": {
            "title": "Converter Maximum Battery Discharge Power [W]",
            "maximum": 3000000,
            "minimum": 0,
            "type": "number",
            "description": "Maximum power that the converter can discharge the battery.",
            "default": 5000
          },
          "maxMPPTPower": {
            "title": "Converter Maximum MPPT Power [W]",
            "minimum": 0,
            "type": "number",
            "description": "Maximum rated power of a single maximum power point tracker",
            "default": 6000
          },
          "pvArrays": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MPPT"
            },
            "default": []
          }
        },
        "default": {}
      },
      "DoubleTariffFixed": {
        "title": "Double Tariff Fixed",
        "required": [
          "offPeakConsumptionPrice",
          "offPeakInjectionPrice",
          "peakConsumptionPrice",
          "peakInjectionPrice",
          "tariffType"
        ],
        "type": "object",
        "properties": {
          "offPeakConsumptionPrice": {
            "title": "Nominal Electricity Price, Off-peak, Consumption [EUR/kWh]",
            "maximum": 1,
            "minimum": 0,
            "type": "number",
            "description": "The nominal electricity price for consuming off-peak",
            "default": 0.2
          },
          "offPeakInjectionPrice": {
            "title": "Nominal Electricity Price, Off-peak, Injection [EUR/kWh]",
            "maximum": 1,
            "minimum": 0,
            "type": "number",
            "description": "The nominal electricity price for injecting off-peak",
            "default": 0.05
          },
          "peakConsumptionPrice": {
            "title": "Nominal Electricity Price, Peak, Consumption [EUR/kWh]",
            "maximum": 1,
            "minimum": 0,
            "type": "number",
            "description": "The nominal electricity price for consuming peak",
            "default": 0.25
          },
          "peakInjectionPrice": {
            "title": "Nominal Electricity Price, Peak, Injection [EUR/kWh]",
            "maximum": 1,
            "minimum": 0,
            "type": "number",
            "description": "The nominal electricity price for injecting peak",
            "default": 0.1
          },
          "tariffType": {
            "title": "Tariff Type",
            "type": "string",
            "description": "Tariff Type",
            "default": "DoubleTariffFixed"
          }
        },
        "description": "Double Fixed Electricity Price Tariff",
        "default": {}
      },
      "DoubleTariffVariable": {
        "title": "Double Tariff Variable",
        "required": [
          "tariffType"
        ],
        "type": "object",
        "properties": {
          "tariffType": {
            "title": "Tariff Type",
            "type": "string",
            "description": "Tariff Type",
            "default": "DoubleTariffVariable"
          }
        },
        "description": "Double Variable Electricity Price Tariff",
        "default": {}
      },
      "EBEMDynamicTariff": {
        "title": "EBEM Dynamic Tariff",
        "required": [
          "tariffType"
        ],
        "type": "object",
        "properties": {
          "tariffType": {
            "title": "Tariff Type",
            "type": "string",
            "description": "Tariff Type",
            "default": "EBEMDynamicTariff"
          }
        },
        "description": "EBEM Dynamic Tariff",
        "default": {}
      },
      "EcopowerDynamicTariff": {
        "title": "Ecopower Dynamic Tariff",
        "required": [
          "tariffType"
        ],
        "type": "object",
        "properties": {
          "tariffType": {
            "title": "Tariff Type",
            "type": "string",
            "description": "Tariff Type",
            "default": "EcopowerDynamicTariff"
          }
        },
        "description": "Ecopower Dynamic Tariff",
        "default": {}
      },
      "EnecoDynamicTariff": {
        "title": "Eneco Dynamic Tariff",
        "required": [
          "tariffType"
        ],
        "type": "object",
        "properties": {
          "tariffType": {
            "title": "Tariff Type",
            "type": "string",
            "description": "Tariff Type",
            "default": "EnecoDynamicTariff"
          }
        },
        "description": "Eneco Dynamic Tariff",
        "default": {}
      },
      "EnergiebeDynamicTariff": {
        "title": "Energie.be Dynamic Tariff",
        "required": [
          "tariffType"
        ],
        "type": "object",
        "properties": {
          "tariffType": {
            "title": "Tariff Type",
            "type": "string",
            "description": "Tariff Type",
            "default": "Energie.beDynamicTariff"
          }
        },
        "description": "Energie.be Dynamic Tariff",
        "default": {}
      },
      "EngieDynamicTariff": {
        "title": "Engie Dynamic Tariff",
        "required": [
          "tariffType"
        ],
        "type": "object",
        "properties": {
          "tariffType": {
            "title": "Tariff Type",
            "type": "string",
            "description": "Tariff Type",
            "default": "EngieDynamicTariff"
          }
        },
        "description": "Engie Dynamic Tariff",
        "default": {}
      },
      "FrankDynamicTariff": {
        "title": "Frank Dynamic Tariff",
        "required": [
          "tariffType"
        ],
        "type": "object",
        "properties": {
          "tariffType": {
            "title": "Tariff Type",
            "type": "string",
            "description": "Tariff Type",
            "default": "FrankDynamicTariff"
          }
        },
        "description": "Frank Dynamic Tariff",
        "default": {}
      },
      "GenericBattery": {
        "title": "Unsupported Battery",
        "minProperties": 9,
        "type": "object",
        "properties": {
          "balancingCurrent": {
            "title": "Battery Pack Balancing Current [A]",
            "minimum": 0,
            "type": "number",
            "description": "Maximum current that can be dissipated when charging a full battery pack",
            "default": 0
          },
          "batteryType": {
            "title": "Battery Type",
            "type": "string",
            "description": "Battery manufacturer and model",
            "default": "Unsupported"
          },
          "cellCapacity": {
            "title": "Cell Capacity [Ah]",
            "minimum": 0,
            "type": "number",
            "description": "The rated capacity of a single battery cell",
            "default": 50
          },
          "cellMaxCurrent": {
            "title": "Cell Maximum Current [A]",
            "minimum": 0,
            "type": "number",
            "description": "The maximum acceptable current through a single cell",
            "default": 100
          },
          "cellMaxVoltage": {
            "title": "Cell Maximum Voltage [V]",
            "minimum": 0,
            "type": "number",
            "description": "The maximum rated voltage of the cells",
            "default": 900
          },
          "cellMinVoltage": {
            "title": "Cell Minimum Voltage [V]",
            "minimum": 0,
            "type": "number",
            "description": "The minimum rated voltage of the cells",
            "default": 42
          },
          "cellRatedVoltage": {
            "title": "Cell Rated Voltage [V]",
            "minimum": 0,
            "type": "number",
            "description": "The rated average voltage of the cells",
            "default": 51.2
          },
          "cellsPerPack": {
            "title": "Cells Per Battery Pack [#]",
            "minimum": 1,
            "type": "integer",
            "description": "The amount of cells in a single battery module",
            "default": 1
          },
          "packCount": {
            "title": "Battery Pack Count [#]",
            "minimum": 1,
            "type": "integer",
            "description": "The number of battery packs attached to this converter unit",
            "default": 1
          }
        },
        "additionalProperties": false,
        "default": {}
      },
      "GenericDynamicTariff": {
        "title": "Generic Dynamic Tariff",
        "required": [
          "additiveIndexationParameter",
          "multiplicativeIndexationParameter",
          "tariffType"
        ],
        "type": "object",
        "properties": {
          "additiveIndexationParameter": {
            "title": "Additive indexation parameter",
            "maximum": 1,
            "minimum": -1,
            "type": "number",
            "description": "The indexation parameter to add to the index [EUR/kWh].",
            "default": 0
          },
          "multiplicativeIndexationParameter": {
            "title": "Multiplicative indexation parameter",
            "maximum": 2,
            "minimum": 0,
            "type": "number",
            "description": "The indexation parameter to multiply the index by.",
            "default": 1
          },
          "tariffType": {
            "title": "Tariff Type",
            "type": "string",
            "description": "Tariff Type",
            "default": "GenericDynamicTariff"
          }
        },
        "description": "Generic Dynamic Tariff",
        "default": {}
      },
      "GenericVariableTariff": {
        "title": "Generic Variable Tariff",
        "required": [
          "additiveIndexationParameter",
          "multiplicativeIndexationParameter",
          "tariffType"
        ],
        "type": "object",
        "properties": {
          "additiveIndexationParameter": {
            "title": "Additive indexation parameter",
            "maximum": 1,
            "minimum": -1,
            "type": "number",
            "description": "The indexation parameter to add to the index [EUR/kWh].",
            "default": 0
          },
          "multiplicativeIndexationParameter": {
            "title": "Multiplicative indexation parameter",
            "maximum": 2,
            "minimum": 0,
            "type": "number",
            "description": "The indexation parameter to multiply the index by.",
            "default": 1
          },
          "tariffType": {
            "title": "Tariff Type",
            "type": "string",
            "description": "Tariff Type",
            "default": "GenericVariableTariff"
          }
        },
        "description": "Generic Variable Tariff",
        "default": {}
      },
      "InverterData": {
        "required": [
          "ACFrequency",
          "MeterPower",
          "TotalInvPower",
          "backupPower",
          "batteryCurrentInv",
          "batteryVoltageInv",
          "stateOfCharge",
          "stateOfHealth"
        ],
        "type": "object",
        "properties": {
          "ACFrequency": {
            "type": "number"
          },
          "InverterPVRetro": {
            "type": "number"
          },
          "MeterPower": {
            "type": "number"
          },
          "TotalInvPower": {
            "type": "number"
          },
          "backupPower": {
            "type": "number"
          },
          "batteryCurrentInv": {
            "type": "number"
          },
          "batteryVoltageInv": {
            "type": "number"
          },
          "gridPower": {
            "type": "number"
          },
          "stateOfCharge": {
            "type": "number"
          },
          "stateOfHealth": {
            "type": "number"
          }
        }
      },
      "LuminusDynamicTariff": {
        "title": "Luminus Dynamic Tariff",
        "required": [
          "tariffType"
        ],
        "type": "object",
        "properties": {
          "tariffType": {
            "title": "Tariff Type",
            "type": "string",
            "description": "Tariff Type",
            "default": "LuminusDynamicTariff"
          }
        },
        "description": "Luminus Dynamic Tariff",
        "default": {}
      },
      "MPPT": {
        "required": [
          "peakPower",
          "solarPanelOrientation",
          "solarPanelTilt"
        ],
        "type": "object",
        "properties": {
          "peakPower": {
            "title": "Peak Power",
            "minimum": 0,
            "type": "number",
            "description": "The peak power of the PV array [Wp]",
            "default": 0
          },
          "solarPanelOrientation": {
            "title": "Solar Panels Orientation [degrees]",
            "maximum": 180,
            "minimum": -180,
            "type": "number",
            "description": "The orientation of the solar panels attached to this MPPT",
            "default": 0
          },
          "solarPanelTilt": {
            "title": "Solar Panels Tilt [degrees]",
            "maximum": 90,
            "minimum": 0,
            "type": "number",
            "description": "The tilt of the solar panels attached to this MPPT",
            "default": 50
          }
        },
        "default": {}
      },
      "MegaDynamicTariff": {
        "title": "Mega Dynamic Tariff",
        "required": [
          "tariffType"
        ],
        "type": "object",
        "properties": {
          "tariffType": {
            "title": "Tariff Type",
            "type": "string",
            "description": "Tariff Type",
            "default": "MegaDynamicTariff"
          }
        },
        "description": "Mega Dynamic Tariff",
        "default": {}
      },
      "NieuweStroomDynamicTariff": {
        "title": "NieuweStroom Dynamic Tariff",
        "required": [
          "tariffType"
        ],
        "type": "object",
        "properties": {
          "tariffType": {
            "title": "Tariff Type",
            "type": "string",
            "description": "Tariff Type",
            "default": "NieuweStroomDynamicTariff"
          }
        },
        "description": "NieuweStroom Dynamic Tariff",
        "default": {}
      },
      "OctaPlusDynamicTariff": {
        "title": "Octa+ Dynamic Tariff",
        "required": [
          "tariffType"
        ],
        "type": "object",
        "properties": {
          "tariffType": {
            "title": "Tariff Type",
            "type": "string",
            "description": "Tariff Type",
            "default": "OctaPlusDynamicTariff"
          }
        },
        "description": "Octa+ Dynamic Tariff",
        "default": {}
      },
      "SingleTariffFixed": {
        "title": "Single Tariff Fixed",
        "required": [
          "consumptionPrice",
          "injectionPrice",
          "tariffType"
        ],
        "type": "object",
        "properties": {
          "consumptionPrice": {
            "title": "Nominal Electricity Price, Peak, Consumption [EUR/kWh]",
            "maximum": 1,
            "minimum": 0,
            "type": "number",
            "description": "The nominal electricity price for consuming peak",
            "default": 0.2
          },
          "injectionPrice": {
            "title": "Nominal Electricity Price, Peak, Injection [EUR/kWh]",
            "maximum": 1,
            "minimum": 0,
            "type": "number",
            "description": "The nominal electricity price for injecting peak",
            "default": 0.05
          },
          "tariffType": {
            "title": "Tariff Type",
            "type": "string",
            "description": "Tariff Type",
            "default": "SingleTariffFixed"
          }
        },
        "description": "Single Fixed Electricity Price Tariff",
        "default": {}
      },
      "SingleTariffVariable": {
        "title": "Single Tariff Variable",
        "required": [
          "tariffType"
        ],
        "type": "object",
        "properties": {
          "tariffType": {
            "title": "Tariff Type",
            "type": "string",
            "description": "Tariff Type",
            "default": "SingleTariffVariable"
          }
        },
        "description": "Single Variable Electricity Price Tariff",
        "default": {}
      },
      "SunergyDynamicTariff": {
        "title": "Sunergy Dynamic Tariff",
        "required": [
          "tariffType"
        ],
        "type": "object",
        "properties": {
          "tariffType": {
            "title": "Tariff Type",
            "type": "string",
            "description": "Tariff Type",
            "default": "SunergyDynamicTariff"
          }
        },
        "description": "Sunergy Dynamic Tariff",
        "default": {}
      },
      "TrevionDynamicTariff": {
        "title": "Trevion Dynamic Tariff",
        "required": [
          "tariffType"
        ],
        "type": "object",
        "properties": {
          "tariffType": {
            "title": "Tariff Type",
            "type": "string",
            "description": "Tariff Type",
            "default": "TrevionDynamicTariff"
          }
        },
        "description": "Trevion Dynamic Tariff",
        "default": {}
      },
      "UnsupportedBattery": {
        "title": "Unsupported Battery",
        "minProperties": 9,
        "type": "object",
        "properties": {
          "balancingCurrent": {
            "title": "Battery Pack Balancing Current [A]",
            "minimum": 0,
            "type": "number",
            "description": "Maximum current that can be dissipated when charging a full battery pack",
            "default": 0
          },
          "batteryType": {
            "title": "Battery Type",
            "type": "string",
            "description": "Battery manufacturer and model",
            "default": "Unsupported"
          },
          "cellCapacity": {
            "title": "Cell Capacity [Ah]",
            "minimum": 0,
            "type": "number",
            "description": "The rated capacity of a single battery cell",
            "default": 50
          },
          "cellMaxCurrent": {
            "title": "Cell Maximum Current [A]",
            "minimum": 0,
            "type": "number",
            "description": "The maximum acceptable current through a single cell",
            "default": 100
          },
          "cellMaxVoltage": {
            "title": "Cell Maximum Voltage [V]",
            "minimum": 0,
            "type": "number",
            "description": "The maximum rated voltage of the cells",
            "default": 900
          },
          "cellMinVoltage": {
            "title": "Cell Minimum Voltage [V]",
            "minimum": 0,
            "type": "number",
            "description": "The minimum rated voltage of the cells",
            "default": 42
          },
          "cellRatedVoltage": {
            "title": "Cell Rated Voltage [V]",
            "minimum": 0,
            "type": "number",
            "description": "The rated average voltage of the cells",
            "default": 51.2
          },
          "cellsPerPack": {
            "title": "Cells Per Battery Pack [#]",
            "minimum": 1,
            "type": "integer",
            "description": "The amount of cells in a single battery module",
            "default": 1
          },
          "packCount": {
            "title": "Battery Pack Count [#]",
            "minimum": 1,
            "type": "integer",
            "description": "The number of battery packs attached to this converter unit",
            "default": 1
          }
        },
        "additionalProperties": false,
        "default": {}
      },
      "balanceRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "obj": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "NEGPOS_00_04": {
                        "type": "number",
                        "description": "Power allocated during the period of 00:00 to 04:00"
                      },
                      "NEGPOS_04_08": {
                        "type": "number",
                        "description": "Power allocated during the period of 04:00 to 08:00"
                      },
                      "NEGPOS_08_12": {
                        "type": "number",
                        "description": "Power allocated during the period of 08:00 to 12:00"
                      },
                      "NEGPOS_12_16": {
                        "type": "number",
                        "description": "Power allocated during the period of 12:00 to 16:00"
                      },
                      "NEGPOS_16_20": {
                        "type": "number",
                        "description": "Power allocated during the period of 16:00 to 20:00"
                      },
                      "NEGPOS_20_24": {
                        "type": "number",
                        "description": "Power allocated during the period of 20:00 to 24:00"
                      }
                    },
                    "description": "Balancing responsibility object"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "testFile": {
                        "type": "string",
                        "description": "Test file in string form"
                      }
                    },
                    "description": "Object containing test information"
                  }
                ]
              },
              "type": {
                "type": "string",
                "description": "Type of responsibility to preform",
                "enum": [
                  "test",
                  "responsibility"
                ]
              }
            }
          }
        },
        "description": "Balancing test request body"
      },
      "balanceResponseGet": {
        "type": "object",
        "properties": {
          "NEGPOS_00_04": {
            "type": "number",
            "description": "Power allocated during the period of 00:00 to 04:00"
          },
          "NEGPOS_04_08": {
            "type": "number",
            "description": "Power allocated during the period of 04:00 to 08:00"
          },
          "NEGPOS_08_12": {
            "type": "number",
            "description": "Power allocated during the period of 08:00 to 12:00"
          },
          "NEGPOS_12_16": {
            "type": "number",
            "description": "Power allocated during the period of 12:00 to 16:00"
          },
          "NEGPOS_16_20": {
            "type": "number",
            "description": "Power allocated during the period of 16:00 to 20:00"
          },
          "NEGPOS_20_24": {
            "type": "number",
            "description": "Power allocated during the period of 20:00 to 24:00"
          },
          "target": {
            "type": "string",
            "description": "Start date of FCR TBUs"
          }
        },
        "description": "Response to a succesfull merit order collection request"
      },
      "balanceResponsePost": {
        "type": "string",
        "description": "Response to a succesfull balancing post operation"
      },
      "balancingRequest": {
        "type": "object",
        "properties": {
          "ean": {
            "type": "string",
            "description": "Household EAN"
          }
        },
        "description": "Object with balancing request data"
      },
      "balancingResponse": {
        "type": "object",
        "properties": {
          "ean": {
            "type": "string",
            "description": "Household EAN"
          },
          "reference": {
            "type": "string",
            "description": "TSO Reference"
          }
        },
        "description": "Object with balancing request data"
      },
      "calculatorErrorBatInvMismatch": {
        "title": "Calculator Error Battery Inverter Mismatch",
        "required": [
          "error_type"
        ],
        "type": "object",
        "properties": {
          "error_type": {
            "type": "string",
            "description": "Error type",
            "example": "batOrInverterZeroButNotBoth"
          }
        },
        "description": "Error details for battery inverter mismatch request, when the one of battery or inverter are zero, but not both"
      },
      "calculatorErrorOutOfBounds": {
        "title": "Calculator Error Out of Bounds",
        "required": [
          "error_type"
        ],
        "type": "object",
        "properties": {
          "error_type": {
            "type": "string",
            "description": "Error type",
            "example": "outOfBounds"
          },
          "parameters": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "description": "Input that is out of bounds",
                "example": "pv_kwp"
              },
              "limits": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "max": {
                        "type": "number",
                        "description": "Maximum value",
                        "format": "float",
                        "example": 10
                      },
                      "min": {
                        "type": "number",
                        "description": "Minimum value",
                        "format": "float",
                        "example": 0.1
                      }
                    },
                    "description": "Min and max limits"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "allow_zero": {
                        "type": "boolean",
                        "description": "Zero not allowed",
                        "example": false
                      }
                    },
                    "description": "Zero not allowed"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "choices": {
                        "type": "array",
                        "description": "Possible choices",
                        "items": {
                          "type": "string",
                          "example": "[\"ABCD\",\"EFGH\"]"
                        }
                      }
                    },
                    "description": "Possible choices for the value"
                  }
                ]
              },
              "value": {
                "type": "number",
                "description": "Value that is out of bounds",
                "format": "float",
                "example": 0
              }
            },
            "description": "Parameters that are out of bounds"
          }
        },
        "description": "Error details for out of bounds request"
      },
      "calculatorErrorUnsupportedRegion": {
        "title": "Calculator Error Unsupported Region or Segment",
        "required": [
          "error_type"
        ],
        "type": "object",
        "properties": {
          "error_type": {
            "type": "string",
            "description": "Error type",
            "example": "unsupportedRegionOrSegment"
          }
        },
        "description": "Error details for unsupported region or segment request"
      },
      "calculatorRequest": {
        "title": "Calculator Request",
        "required": [
          "battery_kwh",
          "ev_kwh",
          "inverter_kw",
          "load_kwh",
          "pv_kwp"
        ],
        "type": "object",
        "properties": {
          "battery_kwh": {
            "type": "number",
            "description": "Battery capacity, in kWh",
            "format": "float",
            "example": 10.5
          },
          "ev_kwh": {
            "type": "number",
            "description": "Annual EV consumption, in kWh",
            "format": "float",
            "example": 0
          },
          "inverter_kw": {
            "type": "number",
            "description": "Inverter power (inverter connected to the battery), in kW",
            "format": "float",
            "example": 5
          },
          "load_kwh": {
            "type": "number",
            "description": "Annual household load, in kWh",
            "format": "float",
            "example": 2000
          },
          "pv_kwp": {
            "type": "number",
            "description": "PV power, in kWp",
            "format": "float",
            "example": 8.4
          },
          "region": {
            "type": "string",
            "description": "Region of the consumer (BE or NL) (DEFAULT: BE)",
            "example": "BE"
          },
          "segment": {
            "type": "string",
            "description": "Segment of the consumer (residential or sme) (DEFAULT: residential)",
            "example": "residential"
          }
        },
        "additionalProperties": true,
        "description": "Calculator endpoint request body description"
      },
      "calculatorResponseError": {
        "title": "Calculator Response Error",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "details": {
            "type": "object",
            "description": "Error details for programatic handling",
            "oneOf": [
              {
                "$ref": "#/components/schemas/calculatorErrorUnsupportedRegion"
              },
              {
                "$ref": "#/components/schemas/calculatorErrorOutOfBounds"
              },
              {
                "$ref": "#/components/schemas/calculatorErrorBatInvMismatch"
              }
            ]
          },
          "error": {
            "type": "string",
            "description": "Textual error description",
            "example": "A string of text giving some details about the error."
          }
        },
        "description": "Calculator endpoint response error body description"
      },
      "calculatorResponseInternalError": {
        "title": "Calculator Response Internal Error",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Textual error description",
            "example": "A string of text giving some details about the error."
          }
        },
        "description": "Calculator endpoint internal error"
      },
      "calculatorResponseOK": {
        "title": "Calculator Response",
        "type": "object",
        "properties": {
          "config": {
            "type": "object",
            "properties": {
              "battery_kwh": {
                "type": "number",
                "description": "Battery capacity, in kWh",
                "format": "float",
                "example": 10.5
              },
              "ev_kwh": {
                "type": "number",
                "description": "Annual EV consumption, in kWh",
                "format": "float",
                "example": 0
              },
              "inverter_kw": {
                "type": "number",
                "description": "Inverter power (inverter connected to the battery), in kW",
                "format": "float",
                "example": 5
              },
              "load_kwh": {
                "type": "number",
                "description": "Annual household load, in kWh",
                "format": "float",
                "example": 2000
              },
              "pv_kwp": {
                "type": "number",
                "description": "PV power, in kWp",
                "format": "float",
                "example": 8.4
              },
              "region": {
                "type": "string",
                "description": "Region of the consumer",
                "example": "BE"
              },
              "segment": {
                "type": "string",
                "description": "Segment of the consumer",
                "example": "residential"
              }
            },
            "description": "Reflection of the input data"
          },
          "data_specification": {
            "type": "object",
            "properties": {
              "build_time": {
                "type": "number",
                "description": "Build timestamp of the source data",
                "format": "double",
                "example": 1675367135.5029602
              },
              "date_from": {
                "type": "string",
                "description": "Start date of the source data",
                "format": "date"
              },
              "date_to": {
                "type": "string",
                "description": "End date of the source data",
                "format": "date"
              },
              "version": {
                "type": "string",
                "description": "Version of the source data",
                "example": "0.15.13"
              }
            },
            "description": "Specification of the source data used for the simulation"
          },
          "dyntar_flexio_effects": {
            "type": "object",
            "properties": {
              "battery_avoid_inj_cost": {
                "type": "number",
                "description": "Avoided injection cost due to battery, in currency units",
                "format": "float",
                "nullable": true,
                "example": 0
              },
              "battery_effect": {
                "type": "number",
                "description": "Financial effect of the battery usage, in currency units",
                "format": "float",
                "nullable": true,
                "example": 569.65
              },
              "earnings": {
                "type": "number",
                "description": "Total earnings from energy activities, in currency units",
                "format": "float",
                "nullable": true,
                "example": 1255.7
              },
              "ev_avoid_inj_cost": {
                "type": "number",
                "description": "Avoided injection cost due to EV, in currency units",
                "format": "float",
                "nullable": true,
                "example": 0
              },
              "ev_effect": {
                "type": "number",
                "description": "Financial effect of EV usage, in currency units",
                "format": "float",
                "nullable": true,
                "example": 0
              },
              "pv_effect": {
                "type": "number",
                "description": "Financial effect of PV generation, in currency units",
                "format": "float",
                "nullable": true,
                "example": 1773.48
              },
              "tariff_avoid_inj_cost": {
                "type": "number",
                "description": "Avoided injection cost due to tariff, in currency units",
                "format": "float",
                "nullable": true,
                "example": 0
              },
              "tariff_effect": {
                "type": "number",
                "description": "Financial effect of tariff, in currency units",
                "format": "float",
                "nullable": true,
                "example": 383.28
              }
            },
            "description": "Financial effects with FlexiO enabled on a Dynamic Tariff"
          },
          "vartar_flexio_effects": {
            "type": "object",
            "properties": {
              "battery_avoid_inj_cost": {
                "type": "number",
                "description": "Avoided injection cost due to battery, in currency units",
                "format": "float",
                "nullable": true,
                "example": 0
              },
              "battery_effect": {
                "type": "number",
                "description": "Financial effect of the battery usage, in currency units",
                "format": "float",
                "nullable": true,
                "example": 580.82
              },
              "earnings": {
                "type": "number",
                "description": "Total earnings from energy activities, in currency units",
                "format": "float",
                "nullable": true,
                "example": 1255.7
              },
              "ev_avoid_inj_cost": {
                "type": "number",
                "description": "Avoided injection cost due to EV, in currency units",
                "format": "float",
                "nullable": true,
                "example": 0
              },
              "ev_effect": {
                "type": "number",
                "description": "Financial effect of EV usage, in currency units",
                "format": "float",
                "nullable": true,
                "example": 0
              },
              "pv_effect": {
                "type": "number",
                "description": "Financial effect of PV generation, in currency units",
                "format": "float",
                "nullable": true,
                "example": 1773.48
              },
              "tariff_avoid_inj_cost": {
                "type": "number",
                "description": "Avoided injection cost due to tariff, in currency units",
                "format": "float",
                "nullable": true,
                "example": 0
              },
              "tariff_effect": {
                "type": "number",
                "description": "Financial effect of tariff, in currency units",
                "format": "float",
                "nullable": true,
                "example": 0
              }
            },
            "description": "Financial effects with FlexiO enabled on a Single Variable Tariff"
          },
          "vartar_noflexio_effects": {
            "type": "object",
            "properties": {
              "battery_avoid_inj_cost": {
                "type": "number",
                "description": "Avoided injection cost due to battery, in currency units",
                "format": "float",
                "nullable": true,
                "example": 0
              },
              "battery_effect": {
                "type": "number",
                "description": "Financial effect of the battery usage, in currency units",
                "format": "float",
                "nullable": true,
                "example": 552.2
              },
              "earnings": {
                "type": "number",
                "description": "Total earnings from energy activities, in currency units",
                "format": "float",
                "nullable": true,
                "example": 0
              },
              "ev_avoid_inj_cost": {
                "type": "number",
                "description": "Avoided injection cost due to EV, in currency units",
                "format": "float",
                "nullable": true,
                "example": 0
              },
              "ev_effect": {
                "type": "number",
                "description": "Financial effect of EV usage, in currency units",
                "format": "float",
                "nullable": true,
                "example": 0
              },
              "pv_effect": {
                "type": "number",
                "description": "Financial effect of PV generation, in currency units",
                "format": "float",
                "nullable": true,
                "example": 1773.48
              },
              "tariff_avoid_inj_cost": {
                "type": "number",
                "description": "Avoided injection cost due to tariff, in currency units",
                "format": "float",
                "nullable": true,
                "example": 0
              },
              "tariff_effect": {
                "type": "number",
                "description": "Financial effect of tariff, in currency units",
                "format": "float",
                "nullable": true,
                "example": 0
              }
            },
            "description": "Financial effects without FlexiO enabled on a Single Variable Tariff"
          }
        },
        "description": "Calculator endpoint response body description"
      },
      "cfDataPush": {
        "type": "object",
        "properties": {
          "acCoupledPvPower": {
            "type": "number",
            "description": "AC coupled PV power in W"
          },
          "dcCoupledPvPower": {
            "type": "number",
            "description": "DC coupled PV power in W"
          },
          "gridPower": {
            "type": "number",
            "description": "Grid power in W"
          },
          "meterPower": {
            "type": "number",
            "description": "Meter power in W"
          },
          "stateOfCharge": {
            "type": "number",
            "description": "State of charge in %"
          },
          "storageCurrent": {
            "type": "number",
            "description": "Storage current in A"
          },
          "storagePower": {
            "type": "number",
            "description": "Storage power in W"
          },
          "storageVoltage": {
            "type": "number",
            "description": "Storage Voltage in V"
          },
          "timestamp": {
            "type": "integer",
            "description": "UNIX timestamp in milliseconds"
          }
        },
        "description": "Data push object for cloudflex data post"
      },
      "configRequest": {
        "type": "object",
        "properties": {
          "clientToken": {
            "type": "string",
            "description": "Token to be returned by the websocket error topics, in case an error ocurrs."
          },
          "formData": {
            "type": "object",
            "properties": {
              "configuration": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Household address"
                  },
                  "converter": {
                    "type": "string",
                    "description": "Brand and model of converter (separated by whitespace, brand MUST be a single string)"
                  }
                },
                "description": "General household configuration object"
              },
              "settings": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "description": "New settings object, the schema of which can be collected from the device via websocket communication."
              }
            },
            "description": "New configuration object"
          }
        },
        "description": "Object describing the new configuration alteration request"
      },
      "configResponse": {
        "type": "object",
        "description": "Successful config action response"
      },
      "createRequest": {
        "type": "object",
        "properties": {
          "devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/deviceObjectRequest"
            }
          }
        },
        "description": "Create a new device request"
      },
      "createResponse": {
        "type": "object",
        "properties": {
          "devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/deviceObjectResponse"
            }
          }
        },
        "description": "Create a new device response"
      },
      "dataGetResponse": {
        "type": "object",
        "properties": {
          "powerSetpointACDC": {
            "type": "number",
            "description": "Power setpoint for grid in W"
          },
          "powerSetpointBat": {
            "type": "number",
            "description": "Power setpoint for battery in W"
          },
          "powerSetpointMeter": {
            "type": "number",
            "description": "Power setpoint for meter in W"
          },
          "timestamp": {
            "type": "integer",
            "description": "UNIX timestamp in milliseconds"
          }
        },
        "description": "Response object for cloudflex data get"
      },
      "dataPostRequest": {
        "$ref": "#/components/schemas/cfDataPush"
      },
      "dataPostResponse": {
        "$ref": "#/components/schemas/cfDataPush"
      },
      "deleteRequest": {
        "type": "object",
        "properties": {
          "devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/deviceObjectDeleteRequest"
            }
          }
        },
        "description": "Delete devices request"
      },
      "deleteResponse": {
        "type": "object",
        "properties": {
          "devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/deviceObjectDeleteResponse"
            }
          }
        },
        "description": "Delete devices response"
      },
      "deleteResponseSingle": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "description": "Whether the device request processed properly"
          },
          "thingName": {
            "type": "string",
            "description": "Unique device identifier"
          }
        },
        "description": "Delete device response"
      },
      "device": {
        "title": "Device object",
        "type": "object",
        "properties": {
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Device display name"
              },
              "serialNbr": {
                "type": "string",
                "description": "Device serial number"
              }
            },
            "description": "Device attributes object"
          },
          "connectivity": {
            "type": "object",
            "properties": {
              "connected": {
                "type": "boolean"
              },
              "disconnectReason": {
                "type": "string"
              },
              "timestamp": {
                "type": "number"
              }
            },
            "description": "Connectivity object"
          },
          "shadow": {
            "type": "object",
            "properties": {
              "desired": {
                "type": "object",
                "description": "The object describing the desired state of the device"
              },
              "reported": {
                "type": "object",
                "description": "The object reporting the current state of the device"
              }
            },
            "description": "Device shadow - only available for partner and admin users"
          },
          "thingGroupNames": {
            "type": "array",
            "description": "List of fleets the device belongs to",
            "items": {
              "type": "string"
            }
          },
          "thingId": {
            "type": "string",
            "description": "Device id created at onboarding"
          },
          "thingName": {
            "type": "string",
            "description": "Unique device identifier"
          },
          "thingTypeName": {
            "type": "string",
            "description": "Device type"
          }
        },
        "description": "Information about a FlexIO device"
      },
      "deviceDataGetResponse": {
        "type": "object",
        "properties": {
          "devices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "meterPower": {
                      "type": "number",
                      "description": "Expected meter power in W"
                    },
                    "timestamp": {
                      "type": "integer",
                      "description": "UNIX timestamp in seconds"
                    }
                  }
                },
                "ean": {
                  "type": "string",
                  "description": "Household EAN"
                }
              }
            }
          },
          "nextToken": {
            "type": "string",
            "description": "To use for pagination, is empty in case there is no more data to collect"
          }
        },
        "description": "Forecasted data from devices"
      },
      "deviceDataPushRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/components/schemas/measschema"
                },
                "ean": {
                  "type": "string",
                  "description": "Household EAN"
                },
                "timestamp": {
                  "type": "integer",
                  "description": "UNIX timestamp in seconds"
                }
              }
            }
          }
        },
        "description": "Device data to be pushed"
      },
      "deviceDataPushResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ean": {
                  "type": "string",
                  "description": "Household EAN"
                },
                "status": {
                  "type": "boolean",
                  "description": "Whether the data from this device was pushed properly"
                }
              }
            }
          }
        },
        "description": "Response to a successful push of device data"
      },
      "deviceList": {
        "type": "object",
        "properties": {
          "nextToken": {
            "type": "string",
            "description": "Token to provide to get the next page of queried devices"
          },
          "things": {
            "type": "array",
            "description": "Current page of devices",
            "items": {
              "$ref": "#/components/schemas/device"
            }
          }
        },
        "description": "List of objects resulting from a successful query"
      },
      "deviceObjectDeleteRequest": {
        "type": "object",
        "properties": {
          "ean": {
            "type": "string",
            "description": "Household"
          }
        },
        "description": "Object describing a device"
      },
      "deviceObjectDeleteResponse": {
        "type": "object",
        "properties": {
          "ean": {
            "type": "string",
            "description": "Household EAN"
          },
          "error": {
            "type": "string",
            "description": "Error message in case the device was not processed properly"
          },
          "index": {
            "type": "integer",
            "description": "Index of the device in the request array"
          },
          "status": {
            "type": "boolean",
            "description": "Whether the device request processed properly"
          }
        },
        "description": "Object describing a device"
      },
      "deviceObjectRequest": {
        "type": "object",
        "properties": {
          "ean": {
            "type": "string",
            "description": "Household EAN"
          },
          "settings": {
            "$ref": "#/components/schemas/emsschema"
          }
        },
        "description": "Request object of a device"
      },
      "deviceObjectResponse": {
        "type": "object",
        "properties": {
          "ean": {
            "type": "string",
            "description": "Household EAN"
          },
          "error": {
            "type": "string",
            "description": "Error message in case the device was not processed properly"
          },
          "index": {
            "type": "integer",
            "description": "Index of the device in the request array"
          },
          "settings": {
            "$ref": "#/components/schemas/emsschema"
          },
          "status": {
            "type": "boolean",
            "description": "Whether the device request processed properly"
          }
        },
        "description": "Response object of a device"
      },
      "editRequest": {
        "type": "object",
        "properties": {
          "devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/deviceObjectRequest"
            }
          }
        },
        "description": "Edit existing devices request"
      },
      "editRequestSingle": {
        "type": "object",
        "properties": {
          "settings": {
            "$ref": "#/components/schemas/emsschema"
          }
        },
        "description": "Edit existing devices request"
      },
      "editResponse": {
        "type": "object",
        "properties": {
          "devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/deviceObjectResponse"
            }
          }
        },
        "description": "Edit existing devices response"
      },
      "editResponseSingle": {
        "type": "object",
        "properties": {
          "settings": {
            "$ref": "#/components/schemas/emsschema"
          },
          "status": {
            "type": "boolean",
            "description": "Whether the device request processed properly"
          },
          "thingName": {
            "type": "string",
            "description": "Unique device identifier"
          }
        },
        "description": "Edit existing device response"
      },
      "emsschema": {
        "title": "Lifepowr IO system settings",
        "required": [
          "ACPhaseCount",
          "EMSHorizon",
          "EVChargers",
          "EVD1Reg",
          "EVSetpointTimeConstant",
          "VAT",
          "antiCurtailment",
          "balancingPowerDropFactor",
          "baselineMechanism",
          "batteryCCSoC",
          "batteryCycleCost",
          "batterySetpointTimeConstant",
          "cellTransientResponseTime",
          "cellVoltageDelta",
          "converters",
          "customInjectionTariffStructure",
          "cyclingCurrent",
          "disableAutosave",
          "disableSolverScaling",
          "doubleTariffVariant",
          "dso",
          "enableCVChargingSupport",
          "enableIntentSmoothing",
          "enableSolverMaxSolveDuration",
          "enableThreePhaseLoadBalancing",
          "experimentalCISupport",
          "flipEastronPolarity",
          "frequencyMeterBias",
          "genericLoadMaximumElectricityPrice",
          "hasEastronMeter",
          "hasP1",
          "initialBalancingPower",
          "injectionLimit",
          "injectionPenalty",
          "isConverterSelfUseCapable",
          "latitude",
          "longitude",
          "maxGridCharge",
          "maxNumberOfCyclesWithoutConclusion",
          "maxR1Allocation",
          "maximumReserveStateOfCharge",
          "maximumStateOfCharge",
          "meterCurrentLimitation",
          "meterPowerDeadband",
          "minimumMonthPeak",
          "minimumStateOfCharge",
          "persistData",
          "pvArraysRetrofit",
          "r1Variant",
          "region",
          "retrofitPVMeasurement",
          "shouldExportModelAfterEachOptimization",
          "skipClockCheck",
          "tariffStructure",
          "useRemotePVForecast",
          "useUnbiasedEstimators",
          "verboseEMSLogs",
          "zeroOutLoss"
        ],
        "type": "object",
        "properties": {
          "ACPhaseCount": {
            "title": "Grid connection type",
            "type": "string",
            "description": "Grid connection type",
            "default": "1x230V",
            "enum": [
              "1x230V",
              "3x230V",
              "3x400V"
            ]
          },
          "VAT": {
            "title": "VAT",
            "maximum": 100,
            "minimum": 0,
            "type": "number",
            "description": "VAT percentage",
            "default": 6
          },
          "converters": {
            "maxItems": 1,
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Converter"
            },
            "default": [
              {}
            ]
          },
          "dso": {
            "title": "DSO",
            "type": "string",
            "description": "The integer uniquely identifying the DSO of the installation",
            "default": "FLUVIUSANTWERPEN",
            "enum": [
              "FLUVIUSANTWERPEN",
              "FLUVIUSHALLEVILVOORDE",
              "FLUVIUSIMEWO",
              "FLUVIUSKEMPEN",
              "FLUVIUSLIMBURG",
              "FLUVIUSMIDDENVLAANDEREN",
              "FLUVIUSWEST",
              "FLUVIUSZENNEDIJLE",
              "NONE",
              "SIBELGA",
              "AIEG",
              "AIESH",
              "ORESBRABANTWALLON",
              "ORESEST",
              "ORESHAINAUT",
              "ORESLUXEMBOURG",
              "ORESMOUSCRON",
              "ORESNAMUR",
              "ORESVERVIERS",
              "REGIEDEWAVRE",
              "TECTEORESA",
              "NETHERLANDS"
            ]
          },
          "enableThreePhaseLoadBalancing": {
            "title": "Enable Three-Phase Load Balancing",
            "type": "boolean",
            "description": "Enable dynamic load balancing on all three phases.",
            "default": false
          },
          "latitude": {
            "title": "Latitude [degrees]",
            "maximum": 90,
            "minimum": -90,
            "type": "number",
            "description": "Latitude of the installation",
            "default": 50.85
          },
          "longitude": {
            "title": "Longitude [degrees]",
            "maximum": 180,
            "minimum": -180,
            "type": "number",
            "description": "Longitude of the installation",
            "default": 4.35
          },
          "maximumReserveStateOfCharge": {
            "title": "Maximum Reserve State Of Charge [%]",
            "maximum": 100,
            "minimum": 0,
            "type": "number",
[...]
